@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import "tailwindcss";

@theme{
  --font-outfit: "Outfit", sans-serif;
  --font-dynapuff: "DynaPuff", system-ui;
  --color-header :#1d3d9f ;
  --color-subheader :#4e6eef ;
  --text-size-header: 2rem;
  --text-size-subheader: 1.5rem;
}

body{
  @apply bg-gray-900  font-outfit;
}



div{
  background: lab(0% 0 0 / 0)31e;
}